.description {
    text-align: center;
    color: red;
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* .start {
   max-width: 50%;
   max-height: 90;
} */

body {
        background: url(assets/emoji-bg-2.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      /* use csstricks to fit background to the entire screen.  */
/* 
.score {
    text-align: right;
    color: red;
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
} */

input {
    display: flex;
    flex-direction: row-reverse;
}

#timer {
    font-size: 30px;
    color: red;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
}

/* .timer {
    text-align: center;
    color: red;
    font-size: 30px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
} */

.game-board {
    max-width: 50%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 0.3em;
    box-shadow: 0 5px 5px gray;
}

.game-grid-row {
    display: flex;
    flex-wrap: nowrap;
}

.game-card {
    width: 4.5em;
    height: 4.5em;
    background-color: #212121;
    border-radius: 0.3em;
    margin: 0.8em;
    box-shadow: 2px 0 10px #212121;
    cursor: pointer;
}

.game-card-img {
    visibility: hidden;
    object-fit: cover;
    width: 4.5em;
    height: 4.5em;
}